.logOut {
margin: auto;
}

.header {
    padding: 10;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 70vh; */
}
.textLog {
    font-size: 2vw;
}
@media screen and (min-width: 1200px) {
    .textLog {
        font-size: 20px;
    }
}

.textOut {
    font-size: 5vw;
}
@media screen and (min-width: 1200px) {
    .textOut {
        font-size: 60px;
    }
}

.uploadButton {
    font-size: 2vw;
}
@media screen and (min-width: 1200px) {
    .uploadButton {
        font-size: 20px;
    }
}

.textArea {
  margin: 20px;
  border: none;
  resize: none;
  /* background: aqua; */
  padding: 4px 2px;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
  min-height: 20px;
}